@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

body{
    background-color: #ffffff;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    width: 85%;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 10px;    
}

.header .nav-links a{
    font-size: 15px;
    color: #6c6c6c;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #343434;
}

.header .btn button{
    font-weight: 700;
    color: #6c6c6c;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #000000;
}
.intro_text{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 35px;
    color: #797979;
    position: absolute;
}
.introImg{
    margin-top: 5%;
    width: 550px;
    position: absolute;
    margin-left: 50%;
}