@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  background-color: #ffffff;
}

.header {
  background-color: transparent;
  opacity: 99%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 17%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  width: 85%;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 10px;
}

.header .nav-links a {
  font-size: 20px;
  color: #797979;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #343434;
}

.header .btn button {
  font-weight: 700;
  color: #9b6fc5;
  padding: 9px 25px;
  background: #eceff1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header .btn button:hover {
  background-color: #e2f1f8;
  color: #000000;
}
.intro {
  height: 800px;
  position: relative;
  background-image: url(/img/intro_foon.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img_mobile {
  position: relative;
  width: 400px;
  left: 25%;
  top: 13%;

  animation-name: translate_img;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes translate_img {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(3%);
  }
}

.title_intro {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 30%;
  color: #fff;
}
.text_intro {
  font-family: "Poppins", sans-serif;
  position: absolute;
  font-size: 20px;
  left: 49%;
  right: 32%;
  top: 40%;
  text-align: justify;
  padding: 24px;
  color: #fff;
}
.img_avaiableAndroid {
  position: relative;
  width: 200px;
  left: 35%;
  cursor: pointer;
}
.img_avaiableApple {
  position: relative;
  width: 200px;
  left: 35%;
  cursor: pointer;
}
.features {
  position: relative;
  top: 200px;
}
.title_features {
  position: absolute;
  text-align: left;
  margin-left: 20px;
  font-size: 60px;
  padding: 15px;
  font-weight: 500;
}
.a {
  font-size: 20px;
  color: #797979;
}
.text_features {
  position: relative;
  margin-left: 50px;
  font-size: 20px;
  bottom: 100px;
  color: #797979;
}
.img_officineWorkers {
  position: relative;
  left: 50%;
  width: 600px;
}
.workFaster {
  margin-top: 200px;
}
.img_workFaster {
  position: relative;
  margin-left: 25px;
  width: 600px;
  margin-top: 100px;
}
.title_workFaster {
  position: absolute;
  left: 52%;
  text-align: left;
  font-size: 60px;
  padding: 15px;
  font-weight: 500;
}
.text_workers {
  position: absolute;
  margin-top: 200px;
  left: 52%;
  font-size: 20px;
  color: #797979;
}

.price_title {
  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 60px;
  padding: 15px;
  font-weight: 500;
  text-align: center;
}
.price_text {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin: 50px;
  padding: 0px 20px;
}
.pricing-table {
  box-shadow: 0px 0px 18px #ccc;
  text-align: center;
  padding: 30px 0px;
  border-radius: 5px;
  position: relative;
}
.pricing-table .head {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
  transition: all 0.5s ease;
}
.pricing-table:hover .head {
  border-bottom: 1px solid #8e2de2;
}

.pricing-table .head .title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.pricing-table .content .price {
  background: linear-gradient(to right, #8e2de2 0%, #4a00e0 100%);
  width: 90px;
  height: 90px;
  margin: auto;
  line-height: 90px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: -50px;
  transition: all 0.5s ease;
}
.pricing-table:hover .content .price {
  transform: scale(1.2);
}
.pricing-table .content .price h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.pricing-table .content ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding-top: 10px;
}

.pricing-table .content ul li {
  margin: 20px 0px;
  font-size: 14px;
  color: #555;
}

.pricing-table .content .sign-up {
  background: linear-gradient(to right, #8e2de2 0%, #4a00e0 100%);
  border-radius: 40px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.pricing-table .btn {
  color: #fff;
  padding: 14px 40px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
  margin: 2px;
  z-index: 9999;
  text-decoration: none;
  border-radius: 50px;
}

.pricing-table .btn:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.pricing-table .btn.bordered {
  z-index: 50;
  color: #333;
}
.pricing-table:hover .btn.bordered {
  color: #fff !important;
}

.pricing-table .btn.bordered:after {
  background: #fff none repeat scroll 0 0;
  border-radius: 50px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  width: 100%;
  z-index: -1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}
.pricing-table:hover .btn.bordered:after {
  opacity: 0;
  transform: scale(0);
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
